.box {
    perspective: 4000px;
}

.container {
    margin: 100px auto;
    width: 700px;
    height: 300px;
    background-color: #ff6056;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*perspective-origin: 100% 100%;*/
    /*-webkit-transform: rotateX(5deg) rotateY(5deg);*/
    /*-moz-transform: rotateX(5deg) rotateY(5deg);*/
    /*-ms-transform: rotateX(5deg) rotateY(5deg);*/
    /*-o-transform: rotateX(5deg) rotateY(5deg);*/
    /*transform: rotateX(5deg) rotateY(5deg);*/
}